<div class="container">
    <h1>About page</h1>
    <div class="row">
        <div class="col">
            This is the detailed description of the company. This is the detail text 1 of the company. This is the detail text 2 of the
            company. This is the detail text 3 of the company. This is the detail text 4 of the company. This is the detail
            text 5 of the company. This is the detail text 6 of the company.
            <span class="btn btn-outline-dark" data-toggle="collapse" data-target="#txtHidden">More</span>
            <div class="collapse" id="txtHidden">
                This is the detail text 7 of the company. This is the detail text 8 of the company. This is the detail text 9 of the company.
            </div>
        </div>
        <div class="col">
            <img src="http://via.placeholder.com/1350x1350" class="img-fluid">
        </div>
    </div>
</div>