<div class="container">
  <h1 class="text-md-left">Contact Page</h1>
  <div class="row">
    <div class="col-md-8 jumbotron">
      <form>
        <div class="form-group">
          <label for="fname">Full Name </label>
          <input type="text" class="form-control" id="fname" name="fname"> </div>
        <div class="form-group">
          <label for="femail">Email Address </label>
          <input type="email" class="form-control" id="femail" name="femail"> </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea rows="8" class="form-control" id="message" name="message"></textarea>
        </div>
        <input type="submit" value="Send Message" class="btn btn-primary"> </form>
    </div>
    <div class="col-md-4"> Contact Info
      <ul class="list-group">
        <li class="list-group-item">
          <i class="fa fa-phone-square" aria-hidden="true"></i> 1-888-888-888</li>
        <li class="list-group-item">
          <i class="fa fa-envelope-open" aria-hidden="true"></i> 100 Street Ave. Minnesota USA 4789</li>
        <li class="list-group-item">
          <i class="fa fa-envelope-o" aria-hidden="true"></i> lllllemail@noemail.com</li>
      </ul>
    </div>
  </div>
</div>
